@import './variables';
* {
    font-family: "Circular Std", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

@import 'blocks/btns';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/about';
@import 'blocks/feed';


@import 'blocks/media';